<h1 id="tableLabel">Seed Requests</h1>

<p>Seed requests with the corresponding seed inventory.</p>

<p *ngIf="!requests"><em>Loading...</em></p>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="requests">
  <thead>
    <tr>
      <th>Request Id</th>
      <th>Seed Id</th>
      <th>Seed Name</th>
      <th>Requested Kernels</th>
      <th>Available Kernels</th>
      <th>Sufficient Inventory</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let request of requests" [ngClass]="{'insufficientRow':!request.sufficientInventory}">
      <td>{{ request.requestId }}</td>
      <td>{{ request.seedId }}</td>
      <td>{{ request.seedName }}</td>
      <td>{{ request.requestedKernels }}</td>
      <td>{{ request.availableKernels }}</td>
      <td>{{ request.sufficientInventory }}</td>
    </tr>
  </tbody>
</table>
